body {
  font-family: Arial, sans-serif;
  background-color: rgb(26, 25, 25);
  margin: 30px 100px 100px 100px;
}

#title {
  text-align: center;
  color: #b59df1;
  margin-bottom: 40px;
  font-size: 80px;
  font-weight: bold;
}

hr {
  margin-bottom: 30px;
  background-color: red;
  height: 2px;
  width: 70%;
}

.container {
  display: flex;
  gap: 50px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  margin-left: 70px;
}

.item {
  display: flex;
  flex-direction: column;
  flex: 1;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
input[type="submit"],
select {
  padding: 8px 10px;
  font-size: 16px;
  border: 3px solid #b23131;
  border-radius: 5px;
  width: 90%;
  box-sizing: border-box;
  border-color: rgb(127, 43, 175);
  font-weight: bold;
}

label {
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 5px;
  color: #d6acf2;
}

.gender {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  color: rgb(77, 68, 77);
}

#register {
  margin-top: 30px;
  width: 15%;
  margin-left: 600px;
  text-align: center;
  background-color: #000000;
  color: white;
  cursor: grab;
}
form {
  width: 800px; /* set a fixed width for the form */
  background-color: rgb(35, 34, 34);
  padding: 30px;
  border-radius: 10px;
  margin: 3px auto;
}
